/* Typography Utility Classes */

@utility text-heading1 {
  font-size: var(--text-heading1);
  font-weight: var(--font-weight-semibold);
}
@utility text-heading2 {
  font-size: var(--text-heading2);
  font-weight: var(--font-weight-semibold);
}
@utility text-heading3 {
  font-size: var(--text-heading3);
  font-weight: var(--font-weight-semibold);
}

@utility text-subtitle1 {
  font-size: var(--text-subtitle1);
  font-weight: var(--font-weight-semibold);
}
@utility text-subtitle2 {
  font-size: var(--text-subtitle2);
  font-weight: var(--font-weight-semibold);
}
@utility text-subtitle3 {
  font-size: var(--text-subtitle3);
  font-weight: var(--font-weight-regular);
}
@utility text-subtitle4 {
  font-size: var(--text-subtitle4);
  font-weight: var(--font-weight-medium);
}

@utility text-body1 {
  font-size: var(--text-body1);
  font-weight: var(--font-weight-regular);
}
@utility text-body2 {
  font-size: var(--text-body2);
  font-weight: var(--font-weight-semibold);
}
@utility text-body3 {
  font-size: var(--text-body3);
  font-weight: var(--font-weight-medium);
}
@utility text-body4 {
  font-size: var(--text-body4);
  font-weight: var(--font-weight-regular);
}
@utility text-body5 {
  font-size: var(--text-body5);
  font-weight: var(--font-weight-semibold);
}

@utility text-caption1 {
  font-size: var(--text-caption1);
  font-weight: var(--font-weight-medium);
}
@utility text-caption2 {
  font-size: var(--text-caption2);
  font-weight: var(--font-weight-medium);
}
