/* Base Styles - Layer base rules */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-pretendard;
    line-height: var(--leading-140);
  }
  html {
    letter-spacing: var(--tracking-tight-2);
  }
  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
