/* Tailwind Theme Configuration */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Tailwind 유틸 생성용 토큰 (@theme) */
@theme {
  /* Font */
  --font-pretendard:
    Pretendard, system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;

  /* Black & White */
  --color-black: #111111;
  --color-white: #ffffff;

  /* Grey */
  --color-grey-900: #1f2423;
  --color-grey-800: #383838;
  --color-grey-700: #505050;
  --color-grey-600: #787878;
  --color-grey-500: #c5c5c5;
  --color-grey-400: #d9d9d9;
  --color-grey-300: #ecedec;
  --color-grey-200: #f5f5f5;
  --color-grey-100: #fafbfb;

  /* Dark */
  --color-dark-100: #1f2423;

  /* Primary */
  --color-primary-400: #4d7b6f;
  --color-primary-300: #56cdaf;
  --color-primary-200: #9ee2d1;
  --color-primary-150: #e7faf6;
  --color-primary-100: #f7fffe;

  /* Accent */
  --color-accent-300: #e80d0d;
  --color-accent-200: #ffd9d9;
  --color-accent-100: #fff9f9;

  /* Yellow */
  --color-yellow-300: #ddb21a;
  --color-yellow-200: #ffc800;
  --color-yellow-100: #fdf9ea;

  /* Blue */
  --color-blue-200: #7076c5;
  --color-blue-100: #f0f4fd;

  /* Purple */
  --color-purple-200: #a372cd;
  --color-purple-100: #f7f0fd;

  /* Round tokens */
  --radius-tiny: 6px;
  --radius-small: 8px;
  --radius-base: 12px;
  --radius-medium: 20px;

  /* Spacing tokens */
  --spacing-xtiny: 4px;
  --spacing-tiny: 6px;
  --spacing-xsmall: 8px;
  --spacing-small: 12px;
  --spacing-base: 16px;
  --spacing-medium: 20px;
  --spacing-large: 24px;
  --spacing-xlarge: 40px;

  /* font-size tokens */
  --text-heading1: 36px;
  --text-heading2: 24px;
  --text-heading3: 20px;

  --text-subtitle1: 18px;
  --text-subtitle2: 16px;
  --text-subtitle3: 16px;
  --text-subtitle4: 15px;
  --text-subtitle5: 15px;

  --text-body1: 15px;
  --text-body2: 14px;
  --text-body3: 14px;
  --text-body4: 14px;
  --text-body5: 13px;
  --text-body6: 13px;

  --text-caption1: 13px;
  --text-caption2: 12px;

  /* font-weight tokens */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* shadow */
  --shadow-drop: 0 2px 16px 0 rgba(17, 17, 17, 0.06);
}

/* Custom Utilities */
@utility bg-ai-gradient {
  background: linear-gradient(
    270deg,
    var(--color-primary-300, #56cdaf) 0%,
    var(--color-purple-200, #a372cd) 100%
  );
}

@utility text-ai-gradient {
  background-image: linear-gradient(
    270deg,
    var(--color-primary-300, #56cdaf) 0%,
    var(--color-purple-200, #a372cd) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@utility custom-scroll {
  &::-webkit-scrollbar {
    /* ✅ 전체 영역 6+8+8 */
    width: 22px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    /* ✅ 실제 보이는 thumb */
    background-color: var(--color-grey-400);
    border-radius: 30px;
    border: 8px solid #fff;
  }
}

@utility custom-scroll-dark {
  &::-webkit-scrollbar {
    /* ✅ 전체 영역 6+8+8 */
    width: 22px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    /* ✅ 실제 보이는 thumb */
    background-color: var(--color-grey-600);
    border-radius: 30px;
    border: 8px solid var(--color-grey-800);
  }
}

@utility select-scroll-visible {
  /* shadcn select는 런타임에 스크롤을 숨기기 때문에 important사용*/
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
  &::-webkit-scrollbar {
    display: block !important;
  }
}
