/* Typography Utility Classes */

@utility typo-heading1 {
  font-size: var(--text-heading1);
  font-weight: var(--font-weight-semibold);
}
@utility typo-heading2 {
  font-size: var(--text-heading2);
  font-weight: var(--font-weight-semibold);
}
@utility typo-heading3 {
  font-size: var(--text-heading3);
  font-weight: var(--font-weight-semibold);
}

@utility typo-subtitle1 {
  font-size: var(--text-subtitle1);
  font-weight: var(--font-weight-semibold);
}
@utility typo-subtitle2 {
  font-size: var(--text-subtitle2);
  font-weight: var(--font-weight-semibold);
}
@utility typo-subtitle3 {
  font-size: var(--text-subtitle3);
  font-weight: var(--font-weight-medium);
}
@utility typo-subtitle4 {
  font-size: var(--text-subtitle4);
  font-weight: var(--font-weight-regular);
}
@utility typo-subtitle5 {
  font-size: var(--text-subtitle5);
  font-weight: var(--font-weight-medium);
}

@utility typo-body1 {
  font-size: var(--text-body1);
  font-weight: var(--font-weight-regular);
}
@utility typo-body2 {
  font-size: var(--text-body2);
  font-weight: var(--font-weight-semibold);
}
@utility typo-body3 {
  font-size: var(--text-body3);
  font-weight: var(--font-weight-medium);
}
@utility typo-body4 {
  font-size: var(--text-body4);
  font-weight: var(--font-weight-regular);
}
@utility typo-body5 {
  font-size: var(--text-body5);
  font-weight: var(--font-weight-semibold);
}
@utility typo-body6 {
  font-size: var(--text-body6);
  font-weight: var(--font-weight-regular);
}

@utility typo-caption1 {
  font-size: var(--text-caption1);
  font-weight: var(--font-weight-medium);
}
@utility typo-caption2 {
  font-size: var(--text-caption2);
  font-weight: var(--font-weight-medium);
}
