@import 'pretendard/dist/web/static/pretendard.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --font-pretendard:
    Pretendard, system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --tracking-tight-2: -0.02em;
  --leading-140: 1.4;
}

@theme inline {
  --font-pretendard: var(--font-pretendard);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-pretendard;
    line-height: var(--leading-140);
  }
  html {
    letter-spacing: var(--tracking-tight-2);
  }
}

/* Tailwind “유틸 생성용” 토큰 (@theme) */

@theme {
  /* Black & White */
  --color-black: #111111;
  --color-white: #ffffff;

  /* Grey */
  --color-grey-800: #383838;
  --color-grey-700: #505050;
  --color-grey-600: #787878;
  --color-grey-500: #c5c5c5;
  --color-grey-400: #d9d9d9;
  --color-grey-300: #ecedec;
  --color-grey-200: #f5f5f5;
  --color-grey-100: #fafbfb;

  /* Dark */
  --color-dark-100: #1f2423;

  /* Primary */
  --color-primary-400: #4d7b6f;
  --color-primary-300: #56cdaf;
  --color-primary-200: #9ee2d1;
  --color-primary-100: #f7fffe;

  /* Accent */
  --color-accent-300: #e80d0d;
  --color-accent-200: #ffd9d9;
  --color-accent-100: #fff9f9;

  /* Yellow */
  --color-yellow-300: #ddb21a;
  --color-yellow-200: #ffc800;
  --color-yellow-100: #fdf9ea;

  /* Blue */
  --color-blue-200: #7076c5;
  --color-blue-100: #f0f4fd;

  /* Purple */
  --color-purple-200: #a372cd;
  --color-purple-100: #f7f0fd;

  /* Round tokens */
  --radius-tiny: 6px; /* 칩, 넘버 */
  --radius-small: 8px; /* 버튼, 입력필드 */
  --radius-base: 12px; /* 카드 */
  --radius-medium: 20px; /* 필터링 라운드칩 */

  /* Spacing tokens */
  --spacing-xtiny: 4px; /* 폰트-폰트, 폰트-아이콘 */
  --spacing-tiny: 6px; /* 폰트-폰트, 폰트-아이콘 */
  --spacing-xsmall: 8px; /* 컴포넌트-컴포넌트 */
  --spacing-small: 12px; /* 컴포넌트 내부 */
  --spacing-base: 16px; /* 섹션 간 */
  --spacing-medium: 20px; /* 섹션 간 */
  --spacing-large: 24px; /* 섹션 간 */
  --spacing-xlarge: 40px; /* 그룹-그룹 */

  /* font-size tokens */
  --text-heading1: 36px;
  --text-heading2: 24px;
  --text-heading3: 20px;

  --text-subtitle1: 18px;
  --text-subtitle2: 16px;
  --text-subtitle3: 16px;
  --text-subtitle4: 15px;

  --text-body1: 15px;
  --text-body2: 14px;
  --text-body3: 14px;
  --text-body4: 14px;
  --text-body5: 13px;

  --text-caption1: 13px;
  --text-caption2: 12px;

  /* font-weight tokens */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

@utility text-heading1 {
  font-size: var(--text-heading1);
  font-weight: var(--font-weight-semibold);
}
@utility text-heading2 {
  font-size: var(--text-heading2);
  font-weight: var(--font-weight-semibold);
}
@utility text-heading3 {
  font-size: var(--text-heading3);
  font-weight: var(--font-weight-semibold);
}

@utility text-subtitle1 {
  font-size: var(--text-subtitle1);
  font-weight: var(--font-weight-semibold);
}
@utility text-subtitle2 {
  font-size: var(--text-subtitle2);
  font-weight: var(--font-weight-semibold);
}
@utility text-subtitle3 {
  font-size: var(--text-subtitle3);
  font-weight: var(--font-weight-regular);
}
@utility text-subtitle4 {
  font-size: var(--text-subtitle4);
  font-weight: var(--font-weight-medium);
}

@utility text-body1 {
  font-size: var(--text-body1);
  font-weight: var(--font-weight-regular);
}
@utility text-body2 {
  font-size: var(--text-body2);
  font-weight: var(--font-weight-semibold);
}
@utility text-body3 {
  font-size: var(--text-body3);
  font-weight: var(--font-weight-medium);
}
@utility text-body4 {
  font-size: var(--text-body4);
  font-weight: var(--font-weight-regular);
}
@utility text-body5 {
  font-size: var(--text-body5);
  font-weight: var(--font-weight-semibold);
}

@utility text-caption1 {
  font-size: var(--text-caption1);
  font-weight: var(--font-weight-medium);
}
@utility text-caption2 {
  font-size: var(--text-caption2);
  font-weight: var(--font-weight-medium);
}

@utility bg-ai-gradient {
  background: linear-gradient(
    270deg,
    var(--color-primary-300, #56cdaf) 0%,
    var(--color-purple-200, #a372cd) 100%
  );
}
